html, body {
  margin: 0;
  padding: 0;
}

/*canvas {
  display: block;
  margin: auto;
  margin-top: 20px;
}*/

body {
  margin: auto;
  margin-top: 0px;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  /*align-items: center;*/
}

img {
	width: 600px;
}
